body {
    background-color: rgb(56, 174, 96);
    text-align: center;
    transition: background-color 0.5s ease;
}
.container {
    border-radius: 10px;
    display: inline-block;
    background-color: white;
    width: 700px;
    height: 400px;
    padding: 40px;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    padding-bottom:0; 
    color: rgb(56, 173, 95);
    transition: color 0.5s ease;
}
#quote {
    font-size: 30px;
}
#author {
    margin-top: 15px;
}
button {
    background-color: rgb(56, 173, 95);
    margin-top: 60px;
    transition: background-color 0.5s ease;
}
button:focus {
    outline: none;
}